.side_picture_bar {
    width: 240px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.side_picture_bar .picture_list_item {
    width: 100%;
    height: 140px;
    border: 1px red solid;
    overflow: hidden;
    margin: 4px 0;
}

.side_picture_bar .picture_list_item img {
    width: 100%;
    min-height: 100%;
}