.picture_info {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    text-align: left;
    color: white;
    padding: 30px 50px;
}
.picture_info .info_header {
    display: flex;
    justify-content: space-between;
}
.picture_info h3 {
    margin-bottom: 8px;
    line-height: 1rem;
}
.picture_info span {
    text-align: right;
}